<h1>last posts:</h1>
<%  @results.each do |aaa| %>
   <p>
     <h4><%= aaa['content'] %></h4>


     Added at <%= aaa['create_date'] %>
     <br />
     <a href="articles/<%= aaa['id'] %>">comments</a>

  <hr />
   </p>
<% end %>


